@font-face {
  font-family: "RobotSlab";
  src: url("./assets/fonts/RobotoSlab/RobotoSlab-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-bold";
  src: url("./assets/fonts/Montserrat/Montserrat-Bold.ttf");
}

body {
  background-color: #fafafa;
  font-family: "Montserrat", Arial, sans-serif;
}

nav {
  background-color: white;
  padding: 2em;
  border-bottom: 1px solid #f3f3f3;
  text-transform: uppercase;
  color: black;
}

.fa-icon {
  color: #0290ff;
  float: right;
  border: 1px solid #0290ff;
  padding: 0.5em;
  border-radius: 50%;
}

.title-logo {
  font-family: "Montserrat-bold", Arial, sans-serif;
  font-weight: 900;
  color: #0290ff;
  font-size: 1.9em;
}

.a-navbar,
.book-option,
.a-logo {
  text-decoration: none;
}

.a-navbar {
  color: black;
}

.card,
hr,
.book-form {
  margin: 2em 3em;
}

.card,
hr {
  font-family: "RobotSlab", Arial, sans-serif;
}

.card-inside {
  padding: 2em;
  vertical-align: middle;
}

.gender-book,
.title-book,
.author-book {
  margin-bottom: 0;
}

.gender-book {
  font-weight: bold;
  color: #888;
  font-size: 0.9em;
}

.title-book {
  font-weight: bolder;
  font-size: 1.4em;
}

.author-book {
  color: #0290ff;
  font-size: 0.8em;
}

.p-options {
  color: #f3f3f3;
}

.book-option {
  color: #0290ff;
  font-size: 0.8em;
}

.co-first {
  padding-right: 0;
}

.co-middle {
  padding-left: 0;
  padding-right: 0;
}

.co-last {
  padding-left: 0;
  padding-right: 0;
}

.perc-completed {
  font-size: 1em;
  color: #a0a0a0;
}

.card-last-div {
  text-align: right;
}

.current-chapter {
  text-transform: uppercase;
  color: #a7a7a7;
  font-size: 0.9em;
}

.btn-update {
  text-transform: uppercase;
  background-color: #0290ff;
  color: white;
  font-weight: 100;
  font-size: 0.8em;
}

.title-form {
  font-family: "Montserrat-bold", Arial, sans-serif;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: bold;
  color: #888;
}

.btn-form {
  background-color: #0290ff;
}

@media (max-width: 991px) {
  .co-first {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }

  .co-middle {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }

  .co-last {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
}
