body {
  background-color: #f5f6fa;
}

nav {
  background-color: white;
  padding: 2em;
  border-bottom: 2px solid #ee6723;
  text-transform: uppercase;
  color: black;
}

.fa-icon {
  color: #0290ff;
  float: right;
  border: 1px solid #0290ff;
  padding: 0.5em;
  border-radius: 50%;
}

.title-logo {
  font-weight: bold;
  color: #0290ff;
}

.a-navbar {
  text-decoration: none;
  color: black;
}
