body {
  background-color: #fafafa;
}

nav {
  background-color: white;
  padding: 2em;
  border-bottom: 1px solid #f3f3f3;
  text-transform: uppercase;
  color: black;
}

.fa-icon {
  color: #0290ff;
  float: right;
  border: 1px solid #0290ff;
  padding: 0.5em;
  border-radius: 50%;
}

.title-logo {
  font-weight: bold;
  color: #0290ff;
}

.a-navbar,
.book-option,
.a-logo {
  text-decoration: none;
}

.a-navbar {
  color: black;
}

.card,
hr,
.book-form {
  margin: 2em 3em;
}

.card-inside {
  padding: 2em;
  vertical-align: middle;
}

.gender-book,
.title-book,
.author-book {
  margin-bottom: 0;
}

.gender-book {
  font-weight: bold;
  color: #888;
}

.title-book {
  font-weight: bold;
  font-size: 1.5em;
}

.author-book {
  color: #0290ff;
}

.book-option {
  color: #0290ff;
}

.current-chapter {
  text-transform: uppercase;
  color: #a7a7a7;
}

.btn-update {
  text-transform: uppercase;
  background-color: #0290ff;
  color: white;
  font-weight: 100;
  font-size: 1em;
}

.title-form {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  color: #888;
}

.btn-form {
  background-color: #0290ff;
}
